@import('https://fonts.googleapis.com/css?family=Comfortaa');
:root {
  --bg-1: #333333;
  --main-text-1: #ffffff;
  --alt-text-1: #dddddd;
  --bg-2: #ffffff;
  --main-text-2: #000000;
  --alt-text-2: #333333;
  --icon-color-1: #ffff00;
  --icon-color-2: #ffaa00;
  --icon-color-3: #ff5500;
  --icon-color-4: #ff0000;
  --main-font: "Comfortaa", Verdana, Arial, sans-serif;
  --text-font: Verdana, Arial, sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  font-family: var(--text-font);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* LOGO */
.logo-small {height:30px;}
.logo-medium {height:100px;}
.logo-medium {height:150px;}
.layer2, .studios {
  font-family: var(--main-font);
  display: inline;
}
.layer2 {
  font-weight: 900;
}


button {
  font-family: var(--main-font);
  font-weight: 900;
  border: 2px solid var(--icon-color-2);
  border-radius: 8px;
  color: var(--icon-color-2);
  background: var(--bg-1);
  padding: 8px 30px;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap:15px;
}

.header a {
  text-decoration:none;
  color: var(--alt-text-1);
}

a {
  padding:0;
  margin:0;
  display: inline;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

img {
  max-width: 100%;
}


/* HEADER & FOOTER */
.header, .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: var(--bg-1);
  color: var(--alt-text-1);
  font-family: var(--main-font);
}

.footer {
  justify-content: center;
}

.header-logo {
  flex: 0 0 50px;
}

.header-left {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 900;
}

.header-right {
  color: var(--alt-text-1);
  font-size: 18px;
  font-weight: 900;
}
/* HEADER & FOOTER */

/* WEBSITE DESCRIPTION */
.website-description {
  display: flex;
  flex-wrap: wrap;
  padding: 80px;
  background-color: #333333;
  color: #F9FAF8;
  justify-content: center;
  gap: 12px;
}
.website-description-title {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 12px;
  font-family: Comfortaa, sans-serif;
}
.website-description-text {
  min-width: 300px;
  flex: 1 1 300px;
  padding: 12px;
  color: #F9FAF8;
  gap: 9px;
}
.website-description-par {
  margin-bottom:12px
}
.website-description-img {
  min-width: 300px;
  flex: 1 1 300px;
  align-self: center;
  border-radius: 20px;
}

/* WEBSITE DESCRIPTION */

/* BEST SELLERS */
.best-sellers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px;
}

.best-sellers-title {
  font-family: comfortaa, sans-serif;
  font-weight: 900;
  font-size: 24px;
  margin-bottom: 30px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
  gap:30px
}
.card-img {
  padding: 4px;
  border-radius: 30px;
  background-color: var(--icon-color-1);
  border: 4px solid var(--icon-color-4);
  /* margin: 8px; */
}
.card-price {
  font-family: comfortaa, sans-serif;
  font-size: 30px;
  font-weight: 900;
}
.card {
  display: flex;
  flex-direction: column;
  min-width: 100px;
  flex: 1 1 150px;
  gap: 20px;
  /* padding: 10px; */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
/* BEST SELLERS */

/* INSPIRING QUOTE */
.inspiring-quote {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: var(--bg-1);
  padding: 40px;
}
.inspiring-quote-text {
  color: var(--alt-text-1);

}
.inspiring-quote-attribution {
  font-size: 20px;
  font-family: var(--main-font);
  color: var(--main-text-1);
  font-weight: 900;
  margin-top: 20px;
}
/* INSPIRING QUOTE */

/* CALL TO ACTION */
.call-to-action {
  color: white;
  background-color: #3B82F6;
}
/* CALL TO ACTION */

* {
  /* border: 2px solid red; */
}