@import('https://fonts.googleapis.com/css?family=Comfortaa');
:root {
  --main-bg: #333333;
  --light-bg: #404040;
  --dark-bg: #202020;
  --main-text: #ffffff;
  --alt-text: #dddddd;

  --icon-color-1: #ffff00;
  --icon-color-2: #ffaa00;
  --icon-color-3: #ff5500;
  --icon-color-4: #ff0000;
  --main-font: "Comfortaa", Verdana, Arial, sans-serif;
  --text-font: Verdana, Arial, sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  font-family: var(--text-font);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--main-bg);
}

/* LOGO */
.logo-small {height:30px;}
.logo-medium {height:100px;}
.logo-medium {height:150px;}
.layer2, .studios {
  font-family: var(--main-font);
  color: #ffffff;
  display: inline;
}
.layer2 {
  font-weight: 900;
}


button {
  font-family: var(--main-font);
  font-weight: 900;
  border: 2px solid var(--icon-color-2);
  border-radius: 8px;
  color: var(--icon-color-2);
  background: var(--dark-bg);
  padding: 8px 30px;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap:15px;
}


a {
  padding:0;
  margin:0;
  display: inline;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

img {
  max-width: 100%;
}


/* HEADER & FOOTER */
.header, .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: var(--light-bg);
  color: var(--alt-text);
  font-family: var(--main-font);
}

.footer {
  justify-content: center;
}
.footer a {
  color: var(--alt-text);
  padding: 15px;
  text-decoration: none;
}

.header-logo {
  flex: 0 0 50px;
}

.header-left {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 900;
}
.header a {
  text-decoration:none;
  color: var(--alt-text);
  font-size: 18px;
  font-weight: 900;
}
/* HEADER & FOOTER */

/* WEBSITE DESCRIPTION */
.website-description {
  display: flex;
  flex-wrap: wrap;
  padding: 80px;
  background-color: #333333;
  color: #F9FAF8;
  justify-content: center;
  align-content: space-evenly;
  gap: 12px;
}

.website-description-text {
  min-width: 300px;
  flex: 1 1 300px;
  padding: 12px;
  color: #F9FAF8;
  gap: 9px;
  margin: auto;
}
.website-description-par {
  margin-bottom:20px;
}
.website-description-title {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 12px;
  font-family: var(--text-font);
}
.website-description-img {
  min-width: 300px;
  flex: 1 1 300px;
  align-self: center;
  border-radius: 20px;
}

/* WEBSITE DESCRIPTION */

/* BEST SELLERS */
.best-sellers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px;
  background: var(--light-bg);
}

.best-sellers-title {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 30px;
  color: var(--main-text);
  margin-bottom: 30px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
  gap:30px;
}
.card-img {
  border-radius: 30px;
  border: 4px solid var(--icon-color-2);
}
.card-text {
  text-align: center;
  color: var(--alt-text);
}
.card-text a {
  color: var(--icon-color-1);
}
.card-price {
  font-family: var(--main-font);
  color: var(--main-text);
  font-size: 30px;
  font-weight: 900;
}
.card {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  max-width: 250px;
  flex: 1 1 150px;
  gap: 10px;
  border-radius: 30px;
  background: var(--dark-bg);
  border: 1px solid var(--icon-color-1);
  padding: 20px;
  align-items: center;
}
/* BEST SELLERS */

/* INSPIRING QUOTE */
.inspiring-quote {
  /* display: flex; */
  /* align-content: center; */
  padding: 30px 80px;
  background: var(--main-bg);
}
.inspiring-quote-box {
  display: flex;
  flex-direction: column;
  background: var(--main-bg);
  align-content: center;
  max-width: max-content;
  margin: 0 auto;
}
.inspiring-quote-text {
  color: var(--alt-text);
  text-align: center;
}
.inspiring-quote-attribution {
  font-size: 20px;
  font-family: var(--main-font);
  color: var(--main-text);
  font-weight: 900;
  margin-top: 20px;
  align-self: flex-end;
}
/* INSPIRING QUOTE */

/* CALL TO ACTION */
.call-to-action {
  background: var(--main-bg);
  padding: 40px;
}
.call-to-action-box {
  margin: 40px auto;
  padding: 30px 60px;
  color: var(--main-text);
  background-color: var(--dark-bg);
  border-radius: 50px;
  border: 6px solid var(--icon-color-2);
  max-width: 600px;
}
.call-to-action-text {
  color: var(--main-text)
}
/* CALL TO ACTION */

* {
  /* border: 2px solid red; */
}