body {
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-small {height:40px;}
.logo-medium {height:100px;}
.logo-medium {height:150px;}


button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  color:white;
  background: #3882F6;
  padding: 8px 30px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap:15px;
}

a {
  text-decoration:none;
  color: #E5E7EB;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

img {
  max-width: 100%;
}


/* HEADER & FOOTER */
.header, .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #333333;
  color: #F9FAF8;
  font-family: Comfortaa, sans-serif;
}

.footer {
  justify-content: center;
}

.header-left {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.header-right {
  color: #E5E7EB;
  font-size: 18px;
  font-weight: bold;
}
/* HEADER & FOOTER */

/* WEBSITE DESCRIPTION */
.website-description {
  display: flex;
  flex-wrap: wrap;
  padding: 80px;
  background-color: #333333;
  color: #F9FAF8;
  justify-content: center;
  gap: 12px;
}
.website-description-title {
  font-size: 48px;
  font-weight: 900;
  font-family: Comfortaa, sans-serif;
}
.website-description-text {
  min-width: 300px;
  flex: 1 1 300px;
  padding: 12px;
  color: #F9FAF8;
  gap: 9px;
}
.website-description-par {
  margin-bottom:12px
}
.website-description-img {
  min-width: 300px;
  flex: 1 1 300px;
}

/* WEBSITE DESCRIPTION */

/* RANDOM INFORMATION */
.random-information {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.cards {
  display: flex;

}
.card {
  display: flex;
  flex-direction: column;
  flex-basis: 200px;
  align-items: center;
  flex-wrap: wrap;
}
/* RANDOM INFORMATION */

/* INSPIRING QUOTE */
.inspiring-quote {
  background-color: #E5E7EB;
}
/* INSPIRING QUOTE */

/* CALL TO ACTION */
.call-to-action {
  color: white;
  background-color: #3B82F6;
}
/* CALL TO ACTION */

* {
  /* border: 2px solid red; */
}